<config>                  
    <actionhandlerclass Value="in.emp.handler.PersonalInfoHandler">
        <uiactions>
            <uiaction>
                <action-name>getPersonalInfo</action-name>
                <success-page>/jsp/emp_personal_info.jsp</success-page>
                <error-page>/jsp/emp_personal_info.jsp</error-page>
            </uiaction>
            <uiaction>
                <action-name>postPersonalInfo</action-name>
                <success-page>/jsp/emp_personal_info.jsp</success-page>
                <error-page>/jsp/emp_personal_info.jsp</error-page>
            </uiaction>
            <uiaction>
                <action-name>getBioAttend</action-name>
                <success-page>/jsp/emp_biometricAttend.jsp</success-page>
                <error-page>/jsp/emp_biometricAttend.jsp</error-page>
            </uiaction>
            <uiaction>
                <action-name>postBioAttend</action-name>
                <success-page>/jsp/emp_biometricAttend.jsp</success-page>
                <error-page>/jsp/emp_biometricAttend.jsp</error-page>
            </uiaction>
            <uiaction>
                <action-name>defaulthome</action-name>
                <success-page>/jsp/emp_home.jsp</success-page>
                <error-page>/jsp/emp_home.jsp</error-page>
            </uiaction>
             <uiaction>
                <action-name>legaldashboard</action-name>
                <success-page>/jsp/legal_dashboard.jsp</success-page>
                <error-page>/jsp/legal_dashboard.jsp</error-page>
            </uiaction>
            <uiaction>
                <action-name>getCorrectionFormList</action-name>
                <success-page>/jsp/emp_correction_appl_list.jsp</success-page>
                <error-page>/jsp/emp_correction_appl_list.jsp</error-page>
            </uiaction>
            <uiaction>
                <action-name>postCorrectionFormList</action-name>
                <success-page>/jsp/emp_correction_appl_list.jsp</success-page>
                <error-page>/jsp/emp_correction_appl_list.jsp</error-page>
            </uiaction>
            <uiaction>
                <action-name>getCorrectionForm</action-name>
                <success-page>/jsp/emp_correction_appl_form.jsp</success-page>
                <error-page>/jsp/emp_correction_appl_form.jsp</error-page>
            </uiaction>
            <uiaction>
                <action-name>postCorrectionForm</action-name>
                <success-page>/jsp/emp_correction_appl_form.jsp</success-page>
                <error-page>/jsp/emp_correction_appl_form.jsp</error-page>
            </uiaction>
            <uiaction>
                <action-name>getCorrectionFile</action-name>
                <success-page>/jsp/emp_view_file.jsp</success-page>
                <error-page>/jsp/emp_view_file.jsp</error-page>
            </uiaction>
            <uiaction>
                <action-name>postCorrectionFile</action-name>
                <success-page>/jsp/emp_correction_appl_form.jsp</success-page>
                <error-page>/jsp/emp_correction_appl_form.jsp</error-page>
            </uiaction>
            <uiaction>
                <action-name>getCorrectionFormHRList</action-name>
                <success-page>/jsp/emp_correction_payroll_list.jsp</success-page>
                <error-page>/jsp/emp_correction_payroll_list.jsp</error-page>
            </uiaction>            
            <uiaction>
                <action-name>getCorrectionFormHR</action-name>
                <success-page>/jsp/emp_correction_payroll_form.jsp</success-page>
                <error-page>/jsp/emp_correction_payroll_form.jsp</error-page>
            </uiaction>            
            <uiaction>
                <action-name>postCorrectionFormHR</action-name>
                <success-page>/jsp/emp_correction_payroll_list.jsp</success-page>
                <error-page>/jsp/emp_correction_payroll_list.jsp</error-page>
            </uiaction>
             <uiaction>
                <action-name>getPiUpdationForm</action-name>
                <success-page>/jsp/emp_personal_info_updation.jsp</success-page>
                <error-page>/jsp/emp_personal_info_updation.jsp</error-page>
            </uiaction>
            <uiaction>
                <action-name>getAllNotifications</action-name>
                <success-page>/jsp/emp_all_notifications.jsp</success-page>
                <error-page>/jsp/emp_all_notifications.jsp</error-page>
            </uiaction>
        </uiactions>
    </actionhandlerclass>

    
   
    
    <actionhandlerclass Value="in.emp.handler.FileMgmtHandler">
        <uiactions>
            <uiaction>
                <action-name>getGenrateFile</action-name>
                <success-page>/jsp/mda_reading_genrate_file.jsp</success-page>
                <error-page>/jsp/mda_reading_genrate_file.jsp</error-page>
            </uiaction>
            <uiaction>
                <action-name>postGenrateFile</action-name>
                <success-page>/jsp/mda_save_file.jsp</success-page>
                <error-page>/jsp/mda_save_file.jsp</error-page>
            </uiaction>
            <uiaction>
                <action-name>getdcuGenerateFile</action-name>
                <success-page>/jsp/mda_reading_genrate_DCU_file.jsp</success-page>
                <error-page>/jsp/mda_reading_genrate_DCU_file.jsp</error-page>
            </uiaction>
        </uiactions>
    </actionhandlerclass>
    
    <actionhandlerclass Value="in.emp.handler.SecurityHandler">
        <uiactions>
            <uiaction>
                <action-name>getlogin</action-name>
                <success-page>/jsp/erp_authority_list.jsp</success-page>
                <error-page>/jsp/erp_authority_list.jsp</error-page>
            </uiaction>
             <uiaction>
                <action-name>resetPassword</action-name>
                <success-page>/jsp/erp_reset_password.jsp</success-page>
                <error-page>/jsp/erp_reset_password.jsp</error-page>
            </uiaction>
            
            <uiaction>
                <action-name>getOtp</action-name>
                <success-page>/jsp/emp_login_page.jsp</success-page>
                <error-page>/jsp/emp_login_page.jsp</error-page>
            </uiaction>
            <uiaction>
                <action-name>postlogin</action-name>
                <success-page>/jsp/emp_login_page.jsp</success-page>
                <error-page>/jsp/emp_login_page.jsp</error-page>
            </uiaction>
            <uiaction>
                <action-name>redirectLink</action-name>
                <success-page>/jsp/emp_login_page.jsp</success-page>
                <error-page>/jsp/emp_login_page.jsp</error-page>
            </uiaction>
             <uiaction>
                <action-name>LoginCpfPortal</action-name>
                <success-page>/jsp/cpf_login_redirect.jsp</success-page>
                <error-page>/jsp/cpf_login_redirect.jsp</error-page>
            </uiaction>
            <uiaction>
                <action-name>getFacilityNotAvailable</action-name>
                <success-page>/jsp/emp_not_available.jsp</success-page>
                <error-page>/jsp/emp_not_available.jsp</error-page>
            </uiaction>
            
            
            <uiaction>
                <action-name>getVendorLogin</action-name>
                <success-page>/jsp/erp_vendor_create_login.jsp</success-page>
                <error-page>/jsp/erp_vendor_create_login.jsp</error-page>
            </uiaction>
            <uiaction>
                <action-name>postVendorLogin</action-name>
                <success-page>/jsp/erp_vendor_input_form.jsp</success-page>
                <error-page>/jsp/erp_vendor_input_form.jsp</error-page>
            </uiaction>
        </uiactions>
    </actionhandlerclass>
    
    <actionhandlerclass Value="in.emp.handler.VendorHandler">
        <uiactions>   
             <uiaction>
              <action-name>viewPOLineDetails</action-name>
               <success-page>/jsp/erp_vendor_poLine_Details.jsp</success-page>
                <error-page>/jsp/erp_vendor_poLine_Details.jsp</error-page>
            </uiaction>   
             <uiaction>
                <action-name>viewClearingDetails</action-name>
                <success-page>/jsp/erp_vendor_clearing_details.jsp</success-page>
                <error-page>/jsp/erp_vendor_clearing_details.jsp</error-page>
            </uiaction>         
            <uiaction>
                <action-name>getPOList</action-name>
                <success-page>/jsp/erp_vendor_appl_list.jsp</success-page>
                <error-page>/jsp/erp_vendor_appl_list.jsp</error-page>
            </uiaction>
            <uiaction>
                <action-name>getPOListNew</action-name>
                <success-page>/jsp/erp_vendor_appl_list.jsp</success-page>
                <error-page>/jsp/erp_vendor_appl_list.jsp</error-page>
            </uiaction>            
            <uiaction>
                <action-name>getResetList</action-name>
                <success-page>/jsp/erp_vendor_appl_list.jsp</success-page>
                <error-page>/jsp/erp_vendor_appl_list.jsp</error-page>
            </uiaction>            
            <uiaction>
                <action-name>getInvoiceList</action-name>
                <success-page>/jsp/erp_vendor_appl_list.jsp</success-page>
                <error-page>/jsp/erp_vendor_appl_list.jsp</error-page>
            </uiaction>
            <uiaction>
                <action-name>getVendorList</action-name>
                <success-page>/jsp/erp_vendor_appl_list.jsp</success-page>
                <error-page>/jsp/erp_vendor_appl_list.jsp</error-page>
            </uiaction>
            <uiaction>
                <action-name>postVendorList</action-name>
                <success-page>/jsp/erp_vendor_input_form.jsp</success-page>
                <error-page>/jsp/erp_vendor_input_form.jsp</error-page>
            </uiaction>
            <uiaction>
                <action-name>getnonPoVendorList</action-name>
                <success-page>/jsp/erp_nonpo_vendor_input_form.jsp</success-page>
                <error-page>/jsp/erp_nonpo_vendor_input_form.jsp</error-page>
            </uiaction>
              <uiaction>
                <action-name>getVendorPsApplForm</action-name>
                <success-page>/jsp/erp_vendor_ps_appl_form.jsp</success-page>
                <error-page>/jsp/erp_vendor_ps_appl_form.jsp</error-page>
            </uiaction>
             <uiaction>
                <action-name>getEmpPsApplForm</action-name>
                <success-page>/jsp/erp_emp_ps_appl_form.jsp</success-page>
                <error-page>/jsp/erp_emp_ps_appl_form.jsp</error-page>
            </uiaction>
            <uiaction>
                <action-name>getVendorApplForm</action-name>
                <success-page>/jsp/erp_vendor_appl_form.jsp</success-page>
                <error-page>/jsp/erp_vendor_appl_form.jsp</error-page>
            </uiaction>
            <uiaction>
                <action-name>postVendorApplForm</action-name>
                <success-page>/jsp/erp_vendor_input_form.jsp</success-page>
                <error-page>/jsp/erp_vendor_input_form.jsp</error-page>
            </uiaction>
            <uiaction>
                <action-name>getVendorInputList</action-name>
                <success-page>/jsp/erp_vendor_input_list.jsp</success-page>
                <error-page>/jsp/erp_vendor_input_list.jsp</error-page>
            </uiaction>
            <uiaction>
                <action-name>getVendorInputForm</action-name>
                <success-page>/jsp/erp_vendor_input_form.jsp</success-page>
                <error-page>/jsp/erp_vendor_input_form.jsp</error-page>
            </uiaction>
             <uiaction>
                <action-name>getEmpInputForm</action-name>
                <success-page>/jsp/erp_emp_input_form.jsp</success-page>
                <error-page>/jsp/erp_emp_input_form.jsp</error-page>
            </uiaction>
             <uiaction>
                <action-name>getVendorVerifiedForm</action-name>
                <success-page>/jsp/erp_vendor_verified_form.jsp</success-page>
                <error-page>/jsp/erp_vendor_verified_form.jsp</error-page>
            </uiaction>
              <uiaction>
                <action-name>getVendorLegalVerifiedForm</action-name>
                <success-page>/jsp/erp_vendor_legal_verified_form.jsp</success-page>
                <error-page>/jsp/erp_vendor_legal_verified_form.jsp</error-page>
            </uiaction>
             <uiaction>
                <action-name>getEmpVerifiedPsForm</action-name>
                <success-page>/jsp/erp_emp_ps_appl_form.jsp</success-page>
                <error-page>/jsp/erp_emp_ps_appl_form.jsp</error-page>
            </uiaction>
            <uiaction>
                <action-name>getInvoiceFile</action-name>
                <success-page>/jsp/erp_view_file.jsp</success-page>
                <error-page>/jsp/erp_view_file.jsp</error-page>
            </uiaction>
            <uiaction>
                <action-name>postInvoiceFile</action-name>
                <success-page>/jsp/erp_vendor_input_form.jsp</success-page>
                <error-page>/jsp/erp_vendor_input_form.jsp</error-page>
            </uiaction>
           <uiaction>
                <action-name>MSEDCLVendorReport</action-name>
                <success-page>/jsp/erp_vendor_report.jsp</success-page>
                <error-page>/jsp/erp_vendor_report.jsp</error-page>
            </uiaction>
             <uiaction>
                <action-name>Vendor_detail_report</action-name>
                <success-page>/jsp/erp_vendor_report.jsp</success-page>
                <error-page>/jsp/erp_vendor_report.jsp</error-page>
            </uiaction>
            <uiaction>
                <action-name>MSEDCL_Vendor_detail_Report</action-name>
                <success-page>/jsp/erp_vendor_report.jsp</success-page>
                <error-page>/jsp/erp_vendor_report.jsp</error-page>
            </uiaction>
             <uiaction>
                <action-name>Vendor_Statistics_Reports</action-name>
                <success-page>/jsp/erp_vendor_report.jsp</success-page>
                <error-page>/jsp/erp_vendor_report.jsp</error-page>
            </uiaction>
            <uiaction>
                <action-name>getVendorLegalInvoiceInputList</action-name>
                <success-page>/jsp/erp_vendor_legal_invoice_input_list.jsp</success-page>
                <error-page>/jsp/erp_vendor_legal_invoice_input_list.jsp</error-page>
            </uiaction>
            <uiaction>
                <action-name>getVendorLegalInvoiceInputForm</action-name>
                <success-page>/jsp/erp_vendor_legal_input_form.jsp</success-page>
                <error-page>/jsp/erp_vendor_legal_input_form.jsp</error-page>
            </uiaction>
            <uiaction>
                <action-name>postLegalApplicationForm</action-name>
                <success-page>/jsp/erp_vendor_legal_input_form.jsp</success-page>
                <error-page>/jsp/erp_vendor_legal_input_form.jsp</error-page>
            </uiaction>
             <uiaction>
                <action-name>viewVendorLegalInvoiceDetails</action-name>
                <success-page>/jsp/erp_view_legal_invoice_details.jsp</success-page>
                <error-page>/jsp/erp_view_legal_invoice_details.jsp</error-page>
            </uiaction>
             <uiaction>
                <action-name>postLegalInvoiceFile</action-name>
                <success-page>/jsp/erp_vendor_legal_input_form.jsp</success-page>
                <error-page>/jsp/erp_vendor_legal_input_form.jsp</error-page>
            </uiaction>
            
            <uiaction>
                <action-name>getLegalInvoiceFile</action-name>
                <success-page>/jsp/erp_view_legal_file.jsp</success-page>
                <error-page>/jsp/erp_view_legal_file.jsp</error-page>
            </uiaction>
            <uiaction>
                <action-name>getVendorSearchCourtCase</action-name>
                <success-page>/jsp/erp_vendor_search_court_case.jsp</success-page>
                <error-page>/jsp/erp_vendor_search_court_case.jsp</error-page>
            </uiaction>
        </uiactions>
    </actionhandlerclass>

 <actionhandlerclass Value="in.emp.handler.AuthorityHandler">
        <uiactions> 
            
             <uiaction>
                <action-name>getAuthPOList</action-name>
                <success-page>/jsp/erp_authority_list.jsp</success-page>
                <error-page>/jsp/erp_authority_list.jsp</error-page>
            </uiaction>
            
            <uiaction>
                <action-name>getAuthResetList</action-name>
                <success-page>/jsp/erp_authority_list.jsp</success-page>
                <error-page>/jsp/erp_authority_list.jsp</error-page>
            </uiaction>
            
              <uiaction>
                <action-name>getAuthInvoiceList</action-name>
                <success-page>/jsp/erp_authority_list.jsp</success-page>
                <error-page>/jsp/erp_authority_list.jsp</error-page>
            </uiaction>
                                 
            <uiaction>
                <action-name>getAuthorityList</action-name>
                <success-page>/jsp/erp_authority_list.jsp</success-page>
                <error-page>/jsp/erp_authority_list.jsp</error-page>
            </uiaction>
            <uiaction>
                <action-name>getAuthorityForm</action-name>
                <success-page>/jsp/erp_authority_form.jsp</success-page>
                <error-page>/jsp/erp_authority_form.jsp</error-page>
            </uiaction>
            <uiaction>
                <action-name>postAuthorityForm</action-name>
                <success-page>/jsp/erp_authority_list.jsp</success-page>
                <error-page>/jsp/erp_authority_list.jsp</error-page>
            </uiaction> 
             <uiaction>
                <action-name>getEmpReports</action-name>
                <success-page>/jsp/erp_emp_report.jsp</success-page>
                <error-page>/jsp/erp_emp_report.jsp</error-page>
            </uiaction>
            <uiaction>
                <action-name>MSEDCLEmpReport</action-name>
                <success-page>/jsp/erp_emp_report.jsp</success-page>
                <error-page>/jsp/erp_emp_report.jsp</error-page>
            </uiaction> 
            <uiaction>
                <action-name>getAuthSummary</action-name>
                <success-page>/jsp/erp_auth_summary.jsp</success-page>
                <error-page>/jsp/erp_auth_summary.jsp</error-page>
            </uiaction>  
              <uiaction>
                <action-name>getLegalAuthSummary</action-name>
                <success-page>/jsp/erp_legal_auth_summary.jsp</success-page>
                <error-page>/jsp/erp_legal_auth_summary.jsp</error-page>
            </uiaction>  
            <uiaction>1
                <action-name>Employee_detail_reports</action-name>
                <success-page>/jsp/erp_emp_report.jsp</success-page>
                <error-page>/jsp/erp_emp_report.jsp</error-page>
            </uiaction> 
            <uiaction>
                <action-name>getAuthLegalInvoiceList</action-name>
                <success-page>/jsp/erp_Legal_invoice_authority_list.jsp</success-page>
                <error-page>/jsp/erp_Legal_invoice_authority_list.jsp</error-page>
            </uiaction>
        </uiactions>
    </actionhandlerclass>
</config> 
